<div class="content-content">
    <div class="container-content">
        <!-- image-cate -->
        <section class="img-show">
            <div class="container_img-show">
                <div class="box-image-show mr">
                    <div class="box">
                        <img src="/images/category-image-1.jpg" alt="cate image">
                    </div>
                    <div class="overlay-image-show">
                        <p>Thương hiệu nổi bật</p>
                    </div>
                </div>
                <div class="box-image-show mr">
                    <div class="box">
                        <img src="/images/category-image-2.jpg" alt="cate image">
                    </div>
                    <div class="overlay-image-show">
                        <p>Thiết kế tốt nhất</p>
                    </div>
                </div>
                <div class="box-image-show mr">
                    <div class="box">
                        <img src="/images/category-image-3.jpg" alt="cate image">
                    </div>
                    <div class="overlay-image-show">
                        <p>Lựa chọn tốt nhất</p>
                    </div>
                </div>
                <div class="box-image-show mr">
                    <div class="box">
                        <img src="/images/category-image-4.jpg" alt="cate image">
                    </div>
                    <div class="overlay-image-show">
                        <p>Đáp ứng tốt nhất</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end image-cate -->
        <!-- New product -->
        <section class="product-new">
            <div class="container_product-new">
                <div class="product-new-title">
                    <h1>🎉 SẢN PHẨM MỚI NHẤT 🎇</h1>
                </div>
                <div class="product-new-listing">
                    {{#each dataProducts}}
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{{this.image}}" alt="New-Product">
                            </div>
                            <div class="overlay-btn">
                                <a href="{{ROOT_URL}}/product-details/{{this.slug}}">
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href="#">
                                    <button class="btn addToCart" data-id="{{this.slug}}">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="{{ROOT_URL}}/product-details/{{this.slug}}">
                                <h2 class="item">{{this.name_pd}}</h2>
                            </a>
                            <a href="#">
                                <p class="descrip">{{this.description}}
                                </p>
                            </a>
                            <a href="#">
                                <h3 class="price-prd">{{formatNumber this.price}}<span>₫</span></h3>
                            </a>
                        </div>
                    </div>

                    {{/each}}
                    {{!-- <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-3.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">1.200.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-2.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Giường ngủ</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">4.200.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image (4).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Ghế Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">820.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image (2).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image (5).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div> --}}

                </div>
            </div>
        </section>
        <!-- End new product -->

        <!-- Category image box -->
        {{!-- <section class="category-image">
            <div class="container_category-image">
                <div class="box-category-image">
                    <div class="image">
                        <a href=""><img src="/images/books.png" alt="kệ sách"></a>
                    </div>
                    <a href="">
                        Kệ sách
                    </a>
                </div>
                <div class="box-category-image">
                    <div class="image">
                        <a href=""><img src="/images/sofa.png" alt="sofa"></a>
                    </div>
                    <a href="">Sofa</a>
                </div>
                <div class="box-category-image">
                    <div class="image">
                        <a href=""> <img src="/images/table.png" alt="bàn"></a>
                    </div>
                    <a href="">Bàn</a>
                </div>
                <div class="box-category-image">
                    <div class="image">
                        <a href=""><img src="/images/umbrella.png" alt="tang trí"></a>
                    </div>
                    <a href="">Trang trí</a>
                </div>
                <div class="box-category-image">
                    <div class="image">
                        <a href=""><img src="/images/closet.png" alt="Tủ quần áo"></a>
                    </div>
                    <a href="">Tủ quần áo</a>
                </div>
                <div class="box-category-image">
                    <div class="image">
                        <a href=""><img src="/images/chair.png" alt="Ghế ngồi"></a>
                    </div>
                    <a href="">Ghế</a>
                </div>
            </div>
        </section> --}}
        <!-- End category image box -->

        <!-- Advertise -->
        <section class="advertise">
            <div class="container-advertise animation-advertise">
                <img src="/images/quangcao.jpg">
            </div>
        </section>
        <!-- end advertise -->

        <!-- Product top -->
        {{!-- <section class="product-hot">
            <div class="container_product-hot">
                <div class="product-hot-title">
                    <h3>TOP SẢN PHẨM NỔI BẬT 🎇</h3>
                </div>
                <div class="product-hot-listing">
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-4.jpg" alt="product-hot">
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-3.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-4.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-2.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-3.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="/images/product-image-3.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section> --}}
        <!-- end product top -->

        <!-- Tin tức -->
        <section class="news">
            <div class="container-news">
                <div class="title-news">
                    <p>TIN TỨC MỚI NHẤT</p>
                </div>
                <div class="container-news-box">
                    {{#each dataPosts}}
                    <div class="news-box">
                        <div class="image-box">
                            <a href="{{ROOT_URL}}/post/{{this.id_post}}"> <img src="{{this.image}}" alt="news"></a>
                        </div>
                        <div class="up-news">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span class="up-text"><strong>ĐĂNG BỞI: T-SIX FURNITURE</strong></span>
                        </div>
                        <div class="text-box">
                            <div class="title">
                                <a href="{{ROOT_URL}}/post/{{this.id_post}}"> {{this.title}}</a>
                            </div>
                            <div class="des">
                                <a href="{{ROOT_URL}}/post/{{this.id_post}}">{{this.content}}</a>
                            </div>
                        </div>
                    </div>
                    
                    {{/each}}
                    
                </div>
            </div>
        </section>
        <!-- End tin tức -->
        <!-- link image -->
        <div class="image_link">
            <div class="link_policy">
                <a href="{{ROOT_URL}}/policy"><img src="./images/baohanh1.png" alt="link đến bảo hành"></a>
                <div><a href="{{ROOT_URL}}/policy" class="link_policy">Các chính sách bảo hành tại đây!...</a></div>
            </div>

            <div class="link_product">
                <a href="{{ROOT_URL}}/about"><img src="./images/effect.png" alt="link product"></a>
                <div><a href="{{ROOT_URL}}/about" class="link_allprd">Về chúng tôi!...</a></div>
            </div>
        </div>
    </div>
</div>