<div class="content-content">
    <div class="container-content">
        <div class="full-product">
            <div class="product__left">
                <div class="product_page-category">
                    <div class="category-title">
                        <h3>Danh mục sản phẩm</h3>
                    </div>
                    {{!-- <div class="category-list">
                        <ul class="category">
                            <li><a href="">Luxury</a></li>
                            <li><a href="">French Heritage</a></li>
                            <li><a href="">Forma Ideale</a></li>
                            <li><a href="">Steelcase</a></li>
                            <li><a href="">Ashley</a></li>
                        </ul>
                    </div> --}}
                    <div class="categories">
                        <ul class="main-categories">
                            {{#each bigCate as |cate|}}
                            <li class="main-category">
                                {{#if cate.subCate}}
                                {{cate.name_cate}} 
                                <i class="fas fa-chevron-down responesiveNone"></i>
                                {{else}}
                                <a href="{{ROOT_URL}}/danh-muc/{{cate.slug}}">{{this.name_cate}}</a>
                                {{/if}} 
                                <ul class="sub-categories">
                                {{#each cate.subCate}}
                                    <li class="sub-category"><a href="{{ROOT_URL}}/danh-muc/{{cate.slug}}/{{this.slug}}">{{this.name_subcate}}</a></li>
                                {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                {{!-- <div class="product_page-category mt">
                    <div class="category-title">
                        <h3>Thương hiệu nội thất</h3>
                    </div>
                    <div class="category-list">
                        <ul class="category">
                            <li><a href="">Luxury</a></li>
                            <li><a href="">French Heritage</a></li>
                            <li><a href="">Forma Ideale</a></li>
                            <li><a href="">Steelcase</a></li>
                            <li><a href="">Ashley</a></li>
                        </ul>
                    </div>
                </div> --}}
            </div>
            <div class="product__right">
                <div class="product-new-title">
                    <h1> {{#if k}}
                        Kết quả tìm kiếm cho "{{k}}"
                    {{else}}
                     🎉 TẤT CẢ SẢN PHẨM 🎇  </h1>
                    {{/if}}
                </div>
                <div class="product-new-listing">
                    {{#each dataProducts}}
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{{this.image}}" alt="New-Product">
                            </div>
                            <div class="overlay-btn">
                                <a href="{{ROOT_URL}}/product-details/{{this.slug}}">
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a class="addToCart" data-id="{{this.slug}}">
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">{{this.name_pd}}</h2>
                            </a>
                            <a href="">
                                <p class="descrip">{{this.description}}
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">{{formatNumber this.price}}<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                    {{!-- <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image-3.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">1.200.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image-2.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Giường ngủ</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">4.200.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image (4).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Ghế Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">820.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image (2).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image (5).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image-2.jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Giường ngủ</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">4.200.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image (4).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Ghế Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">820.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image (2).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-box">
                            <div class="image">
                                <img src="./images/product-image (5).jpg" alt>
                            </div>
                            <div class="overlay-btn">
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href>
                                    <button class="btn">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="text-box">
                            <a href="">
                                <h2 class="item">Đồng hồ Luxury</h2>
                            </a>
                            <a href="">
                                <p class="descrip">Được sự ưa chuộng của nhiều hộ gia đình
                                    èlgkrsg
                                    egsnrlsgnk
                                    ènkl
                                </p>
                            </a>
                            <a href="">
                                <h3 class="price-prd">2.500.000<span>₫</span></h3>
                            </a>
                        </div>
                    </div> --}}

                </div>
            </div>
        </div>
    </div>
</div>