<div class="wrapperAccount">
    <div class="containerAccount">
        <div class="formEnter">
            <div class="responsiveLogo">
                    <a href="{{ROOT_URL}}"><img src="./images/logo-web-client.png" alt="logo website"></a>
                </div>
            <div class="containerForm">
                <h3>ĐĂNG KÝ TÀI KHOẢN</h3>
                <form  name="registerForm" onsubmit="return validateRegisterForm()" method="post" action="">
                        <div class="form-control">
                            <input id="username" name="name" type="text" placeholder="Họ và tên" value="{{formData.name}}">
                            <span></span>
                            <small class="error" id="usernameError"></small>
                        </div>
                        <div class="form-control">
                            <input id="email" name="email" type="email" placeholder="Email" value="{{formData.email}}" {{#if error}}
                                    style="border-bottom: 2px solid rgb(189, 31, 31);"
                                    {{/if}} >
                            <span></span>
                            <small class="error" id="emailError"></small>
                        </div>
                        <div class="form-control">
                            <input id="password" name="password" type="password" placeholder="Mật khẩu" value="{{formData.password}}">
                            <span></span>
                            <i id="showPassword" class="fa fa-eye" aria-hidden="true"></i>
                            <small class="error" id="passwordError"></small>
                        </div>
                        <div class="form-control">
                            <input id="confirmPassword" type="password" placeholder="Nhập lại mật khẩu" value="{{formData.password}}">
                            <span></span>
                            <i id="showConfirmPassword" class="fa fa-eye" aria-hidden="true"></i>
                            <small class="error" id="confirmPasswordError"></small>
                        </div>
                    <div style="color: red; padding-top:10px;font-size:large">{{error}}</div>

                        <button type="submit" class="btnSubmit">Đăng ký</button>
                    </form>
                
                <div class="link">
                    <div class="comeHome">
                        <i class="fa-solid fa-angle-left"></i>
                        <a href="{{ROOT_URL}}">Trang chủ</a>
                    </div>
                    <div class="signup-link">
                        Đăng nhập tài khoản! <a href="{{ROOT_URL}}/login">tại đây</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="imageAccount">
            <img src="/images/restaurant-1837150.jpg" height="100%" alt="image account">
            <div class="boxOverImage">
                <h3>T-SIX FURNITURE</h3>
                <p>MANG ĐẾN <br> MỘT PHONG CÁCH MỚI </p>
                <a href="{{ROOT_URL}}"><button>OUR WEBSITE</button></a>
            </div>
        </div>
    </div>
</div>


<script src="/js/validateRegister.js"></script>